.slide-grid-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.slide-grid-container div {
	max-height: 700px;
}
.two-cells {
	grid-column: span 2;
}

.slide-grid-image {
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease-in-out;
}
.slide-grid-image:hover {
	transform: scale(1.1);
}
.slide-grid-text-descriptions {
	left: 5%;
	width: fit-content;
	position: relative;
	bottom: 20%;
	background-color: #333;
	padding: 0 5px;
	border-radius: 4px;
}
.slide-grid-text {
	left: 60%;
	position: relative;
	bottom: 30%;
	padding: 0 5px;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
}
.slide-grid-text::before {
	content: '';
	position: absolute;
	right: 4rem;
	bottom: 10px;
	width: 40px;
	border: 1px solid white;
}
.slide-grid-text::after {
	content: '';
	position: absolute;
	left: 4rem;
	bottom: 10px;
	width: 40px;
	border: 1px solid white;
}

@media (max-width: 1024px) {
	.slide-grid-text-descriptions {
		font-size: 0.75rem;
	}
	.slide-grid-text {
		font-size: 0.75rem;
	}
	.slide-grid-text::before {
		right: 3rem;
		bottom: 10px;
		width: 40px;
	}
	.slide-grid-text::after {
		left: 3rem;
		bottom: 10px;
		width: 40px;
	}
}
@media (max-width: 864px) {
	.slide-grid-text-descriptions {
		bottom: 30%;
	}
	.slide-grid-text {
		font-size: 0.5rem;
		bottom: 43%;
		left: 25%;
	}
	.slide-grid-text::before {
		right: 2.1rem;
		bottom: 7px;
		width: 20px;
	}
	.slide-grid-text::after {
		left: 2.1rem;
		bottom: 7px;
		width: 20px;
	}
}
